extends layout

block stylesheets
  link(rel='stylesheet' href='stylesheets/chat.css')

block content
  p#topic
    test
  div#container
    div#chatfield
      span チャットフィールド
    div#chatboard
      span チャットボード

block scripts
  script(src='javascripts/chat.js')