extends layout

block stylesheets
  link(rel='stylesheet' href='stylesheets/chat.css')

block content
  p#topic
    test
  div#container
    // チャットするフィールド
    div#chatfield
      span チャットフィールド
      p.chatlist
      // Chat入力フォームを作成する
      form#fm
        label(for='name') 名前：
        input#name(type='text', name='name')
        br
        label(for='text') 内容：
        input#text(type='text', name='text')
        br
        input(type='submit', value='投稿する')
      ul.info
    // チャットの移動やまとめるフィールド
    div#chatboard
      span チャットボード
      div.dragfield

block scripts
  // チャットのテンプレート
  <script type='text/x-handlebars-template' id='chat-template'>
  | {{#each this}}
  |   <div>
  |     <table>
  |       <tr>
  |         <td>{{name}}</td>
  |         <td>{{dateToStr created}}</td>
  |       </tr>
  |       <tr>
  |         <td>{{text}}</td>
  |         <td><input type="button" value="{{getONOFF isVisible}}" key="{{_id}}"></td>
  |       </tr>
  |     </table>
  |   </div>
  | {{/each}}
  |</script>
  script(src='javascripts/chat.js')