extends layout

block stylesheets
  link(rel='stylesheet' href='stylesheets/index.css')

block content
  .roomList

  a(href='room-creation')部屋の新規作成

block scripts
  // 部屋のテンプレート
  <script type='text/x-handlebars-template' id='room-template'>
  | {{#each this}}
  |   <p>
  |     <table>
  |       <tr>
  |         <td><a href="chat?room={{_id}}">{{title}}</a></td>
  |         <td>作成者：{{creator}}</td>
  |       </tr>
  |       <tr>
  |         <td colspan="2">{{detail}}</td>
  |       </tr>
  |     </table>
  |   </p>
  | {{/each}}
  |</script>
  script(src='javascripts/index.js')