doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block stylesheets
  body
    p.header
      <a href="/">BrestoChatter</a>
    block content
    script(src='https://code.jquery.com/jquery-2.0.0.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.js')
    script(src='javascripts/mylib.js')
    block scripts