doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    p.header
      <a href="/">BrestoChatter</a>
    block content
    script(src='https://code.jquery.com/jquery-2.0.0.min.js')
    block scripts