extends layout

block content
  p 部屋の新規作成
  form#fm
    p
      label(for='title') タイトル：
      input#title(type='text', name='title')
    p
      label(for='name') 名前：
      input#name(type='text', name='name')
    p
      label(for='detail') 詳細：
      br
      textarea#detail(name='detail', rows='10', cols='30')
    p
      input#btn(type='submit', value='部屋を作成する')

block scripts
  script(src='javascripts/roomCreation.js')