#topic {
  position: fixed;
  top: 40px;
  left: 0;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  margin: 0;
  padding: 10px;
}

#topic h2 {
  margin: 0;
  color: blue;
}

body {
  padding-top: 100px;
}