#topic {
  background-color: white;
  position: fixed;
  top: 40px;
  left: 0;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  margin: 0;
  padding: 10px;
  z-index: 100;
}

#topic h2 {
  margin: 0;
  color: blue;
}

body {
  padding-top: 100px;
}

#container {
  border: 1px solid black;
  width: 1000px;
  display: -moz-box;
  display: -webkit-box;
  display: box;
}

#chatfield {
  background-color: lightpink;
  padding: 10px;
  width: 300px;
}

#chatboard {
  background-color: lightblue;
  padding: 10px;
  -moz-box-flex: 1.0;
  -webkit-box-flex: 1.0;
  -box-flex: 1.0;
  width: 200px;
}

.chatlist {
  overflow-y: scroll;
  border: 1px solid black;
  height: 400px;
}

.chatlist div {
  border: 1px solid black;
}

.chatlist table {
  width: 100%;
}

.chatlist div table td:nth-child(2n+1) {
  width: 60%;
}

.chatlist div table td:nth-child(2n) {
  width: 40%;
  text-align: right;
}

.label {
  border: 1px solid black;
  background-color: white;
  position: absolute;
  width: 200px;
  cursor: default;
}

.noneselect {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.dragfield {
  border: 1px solid blue;
  position: absolute;
  display: none;
}

div.trashbox {
  position: absolute;
  background-image: url('../images/trashbox.png');
  width:  96px;
  height: 110px;
  cursor: default;
}

#chatboardmenu {
  background: #fff;
  border: 1px solid #444;
  display: none;
  width: 150px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: default;
}
#chatboardmenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#chatboardmenu li {
  margin: 0;
  padding: 5px;
  border: 1px solid #444;
  display: block;
}
#chatboardmenu ul li:hover{
  background: #666;
  color: #fff;
}

.groupbox {
  border: 1px solid black;
  background-color: white;
  position: absolute;
  width: 200px;
  padding: 0;
  margin: 0;
  cursor: default;
}

.groupbox ul {
  padding: 0;
  margin: 0;
  margin-left: 1.5em;
}

.groupselect {
  background-color: lightblue;
}
